html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}



.bground {
    position: fixed; /* Place l’arrière-plan au-dessus des autres éléments */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajoute un effet foncé transparent */
    z-index: 999; /* Doit être juste en dessous de la modale */
    display: none; /* Par défaut, caché */
}


.photograph-header {
    background-color: #FAFAFA;
    box-sizing: border-box; 
    padding: 1rem;
    margin: 2rem;
}
.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 
}

.photograph-header-left {
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.photograph-header-h1 {
    color: #D3573C;
    font-size: 3rem;
    margin-bottom: 0;
}
.photograph-header-left .location {
    margin: 0; /* Correct: les marges doivent inclure une unité */
    color: #901C1C;
    font-size: 22px;
}

.photograph-header-left .photograph-header-tagline {
    margin: 0;
    color: #757575;
}


.photograph-header-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    
   
}
#contact_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #DB8876;
    width: 40%; /* Réduit la largeur */
    max-height: 85%; /* Limite la hauteur de la modale */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Permet un défilement vertical si le contenu dépasse */
    margin-top: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%; /* Réduit la largeur */
    max-height: 100%; /* Limite la hauteur de la modale */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alignement vertical ajusté */
    padding: 25px;
    margin: auto;
    overflow-y: auto; /* Permet un défilement vertical si nécessaire */
    padding-top: none;
}
.modal_content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: none;
  
}
.close_button {
    position: absolute;
    right: 1px;
    top: 55px;
    width: 100px;
    height: 100px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    color: #FAFAFA;
    background-color: #DB8876;
    font-size: 80px;
    border: none;
  }


.modal header {
    display: flex;
    align-items: flex-start;
    
}
.header-modal{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  
}

.modal header h2 {
    font-size: 45px;
    font-weight: normal;
    
}
.button-console{
    font-size: 15px;
    color: white;
    padding: 11px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
}
.media-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.media-info {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    
}
.media-title {
    color: #901C1C;
    font-size: 22px;
    display: flex;
   
}
.heart-icon {
    color: #b40000; /* Rouge comme sur votre image */
    font-size: 16px; /* Ajustez selon vos besoins */
    margin-left: 5px; /* Espace entre le nombre et le cœur */
    cursor: pointer; /* Change le curseur en main */
    transition: transform 0.2s;
}
.heart-icon:hover {
    transform: scale(1.2); 
}
.media-likes{
    color: #b40000;
    display: flex;
    margin-left: 150px;
}
.media-image {
    object-fit: cover;
    Width: 400px;
    Height: 351px;
    border-radius: 5px;
}
.media-video {
    Width: 400px;
    Height: 351px;
    object-fit: cover;
    border-radius: 5px;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
   
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
    margin-top: 0;
}

form input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
}
form textarea {
    width: 100%;
    height: 120px; 
    border-radius: 5px;
    font-size: 16px; 
    resize: none;
    border: none; 
}
.lightbox-media {
   display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    justify-content: center;
    overflow: hidden;
    
}

.lightbox-image, .lightbox-video {
    max-width: 80%; /* Occuper un maximum de l'espace disponible */
    max-height: 80%; /* Respecter la hauteur disponible */
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 20px; /* Espacement en bas */
    object-fit: cover;
}

.prev-button, .next-button, .close-button {
    position: absolute;
    background: transparent;
    border: none;
    color: #b40000;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 20; /* Pour les afficher au-dessus du média */
}

.prev-button {
    left: 5%; /* Positionner sur la gauche */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%);
}

.next-button {
    right: 5%; /* Positionner sur la droite */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%);
}

.close-button {
    top: 2%;
    right: 2%;
    transform: none;
}

/* Titre du média en bas */
.lightbox-title {
    color: #b40000;
    font-size: 1.5rem;
    margin-top: 10px;  
}
.bground-light {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
.lightbox {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    justify-content: center;
    align-items: center;
}
.total-likes-container {
    position: fixed;
    bottom: 0px;
    right: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(219, 136, 118, 1);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.total-likes {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    color: black
}

.daily-rate {
    font-size: 18px;
    color: black;
    margin-left: 30px;
    font-weight: bold;
}
.sorting-container {
    margin: 20px 2rem;
    display: flex;
    align-items: center;
}

.sorting-label {
    font-size: 15px;
    margin-right: 10px;
    color: black;
    font-weight: bolder;
}

/* Wrapper pour la liste déroulante personnalisée */
.custom-select-wrapper {
    position: relative;
    width: 200px;
}

.custom-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: normal;
    color: white;
    background-color: #901C1C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.custom-select:focus {
    outline: 2px solid #D3573C;
}

.arrow {
    font-size: 12px;
    color: white;
}

/* Liste déroulante des options */
.custom-options {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background-color: #901C1C;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
   
}

.custom-option {
    
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: solid;
    border-bottom: white;
    
    
    
}

.custom-option:hover,
.custom-option.selected {
    background-color: #B40000;
}

[aria-expanded="true"] + .custom-options {
    display: block;
}

[aria-expanded="false"] + .custom-options {
    display: none;
}
.custom-option:focus {
    outline: 2px solid #D3573C; /* Met en évidence l'élément en focus */
    background-color: #B40000;
    color: white;
}

.custom-option[aria-selected="true"] {
    background-color: #B40000;
    font-weight: bold;
}
